<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Post title' }) %>
  <link rel="stylesheet" href="/styles/forms.css  ">
  <link rel="stylesheet" href="/styles/posts.css">
  <script src="/scripts/comments.js" defer></script>
</head>

<body>
  <%- include('includes/header') %>
  <main id="post-detail">
    <h1><%= post.title %> </h1>
    <section id="post-meta">
      <address>
        <a href="mailto:<%= post.author.email %>"><%= post.author.name %></a>
      </address> | <time datetime="<%= post.createdAt %>"><%= post.humanReadableDate %></time>
    </section>
    <hr>
    <section>
      <p id="body"><%= post.body %></p>
    </section>
    <section id="comments">
      <h2>Comments</h2>
      <div id="comments-board">
        <% if (postCommentsCount > 0) { %>
          <p>This post has <%= postCommentsCount %> comment<% if (postCommentsCount>1) { %>s<% } %>.</p>
          <button id="load-comments-btn" class="btn btn-alt" data-postid="<%= post._id %>">Load more</button>
        <% } else { %>
          <p>No comments here. Write something now!</p>
        <% } %>
      </div>
      <hr />
      <h2 class="form-heading">Leave a comment</h2>
      <form id="new-comment" data-postid="<%= post._id %>">
        <div class="form-control">
          <label for="title">Comment title</label>
          <input type="text" id="title" name="title" required />
        </div>
        <div class="form-control">
          <label for="message">Your comment</label>
          <textarea name="message" id="message" rows="3" required></textarea>
        </div>
        <button class="btn">Save Comment</button>
      </form>
    </section>
  </main>
</body>

</html>